* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F806A;
    position: relative;
}

.box {
    border: none;
    border-radius: 0.5rem;
    background: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 1px rgba(1, 1, 1, 0.5);
}

.box button {
    width: 12rem;
    height: 3rem;
    box-shadow: 1px 1px 2px 1px rgba(1, 1, 1, 0.5);
    padding: 1rem;
    margin: 1.5rem;
    cursor: pointer;
}

.alert, .message {
    padding: 2rem;
    background: #EB4748;
    border: none;
    border-radius: 0.5rem;
    color: #ffff;
    position: absolute;
    top: 0;
}

.message {
    background: rgba(1, 1, 1, 0.8);
}

.hide {
    display: none;
}

.message:hover {
    cursor: pointer;
}

.alert:hover {
    cursor: pointer;
}